@import url("https://fonts.googleapis.com/css?family=Lato|Nanum+Gothic&display=swap");

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Nanum Gothic", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #87C1FF;
}

:root {
  --font-size: calc(10px + 1vmin);
}
